.text {
  &.text-color--green {
    color: var(--secondary-color);
  }
  &.text-color--black {
    color: black;
  }
  &.text-color--white {
    color: white;
  }

  &.text-size--sm {
    font-size: 0.7rem;
  }
  &.text-size--md {
    font-size: 1.5rem;
  }
  &.text-size--lg {
    font-size: 2rem;
  }
  &.text-size--xl {
    font-size: 3rem;
  }

  &.text-boldness--normal {
    font-weight: normal;
  }
  &.text-boldness--semibold {
    font-weight: 500;
  }
  &.text-boldness--bold {
    font-weight: 700;
  }
}
